.navigation {
    display: block;
    background: black;
    color: white;
}

.navigation-list {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.navigation-list-item {
    padding: 8px 20px;
    border-bottom: 2px solid transparent;
    cursor: pointer;
    text-decoration: none;
    color: white;
}
.navigation-list-item:hover {
    border-bottom: 2px solid green;
}

.navigation-list-item.active {
    border-bottom: 2px solid green;
    background: green;
    color: white;
}

.navigation-list-item.my-active {
    border-bottom: 2px solid green;
    background: green;
    color: white;
}
